@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Yusei+Magic&display=swap");

body {
  background-color: aquamarine;
  color: black;

}

h2,
h3 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 48px;
}

p {
  font-family: "Caveat", cursive;
  font-size: xx-large;
}
